.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.background {
  width: 80%;
  height: 80%;
  background-color: #fff;
  opacity: 70%;
  position: relative;
}

.container {
  position: absolute;
  margin: auto;
}

input {
  width: 180px;
  padding: 10px;
  border: none;
  margin-top: 10px;
  border-radius: 10px;
}

#login-form button {
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 1px 1px rgba(112, 111, 111, 0.3);
}

#clock {
  font-size: 30px;
  margin: 10px;
}

#greeting {
  font-size: 50px;
  margin: 10px;
}

#todo-list li {
  list-style: none;
}

#todo-list span {
  font-weight: 700;
}

#todo-list button {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: #d8d6d6;
  box-shadow: 2px 2px rgb(112, 111, 111);
}

#weather p {
  margin: 0;
}
